/*vars for color*/
:root{
    --red: rgb(167, 177, 187);
    --BGre: rgb(16, 42, 67);
}
*{/*reset styles */
    border: 0;
    padding: 0;
    margin: 0;
}
.SUbutton{
    position: fixed;
    left: calc(100% - 90px);
    top: calc(0% + 5px);
    width: 80px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.80);
    color: var(--red);
    border: 2px solid var(--BGre);
}
.SUbutton:active{
    transform: translateY(4px) translateX(4px);
}
.SUbutton:hover{
    border: 3px solid var(--BGre);
}
.hide{
    display: none;
}
.show{
    display: block;
}
fieldset, form, input{
    position: fixed;
}
fieldset{/*position*/
    top: calc(10% + 25px);
    left: calc(40%);
    display: block;
    width: 20%;
    height: 15em;
    background-color: var(--BGre);
}
fieldset{/*appearance*/
    border: 3px outset var(--BGre);
}
fieldset input{
    outline: none;
    border: 0.5px solid var(--BGre);
}
fieldset input:hover{
    border: 2px solid var(--BGre);
}
fieldset input:focus{
    border: 2px solid var(--BGre);
    overflow: auto;
}
fieldset h1{
    text-align: center;
    border-bottom: 1px dotted var(--BGre);
    font-weight: bold;
    font-size: 14pt;
}
#email, #_email, #_name, #name{
    position: fixed;
    width: 150px;
    overflow: auto;
    margin-left: calc(20% / 2 - 75px);
}
#_name{
    /*top:30%;*/
    top: calc(10% + 60px);
}
#name{
    top: calc(10% + 80px);
}
#_email{
    top: calc(10% + 100px);
}
#email{
    top: calc(10% + 120px);
}
#button{/*positioning*/
    min-width: 50px;
    width: 30px;
    left: calc(100% / 2 - 30px);
    top: calc(10% + 200px);
}
#button{/*appearance*/
    border: 2px solid var(--BGre);
    background-color: var(--red);
    color: white;
    box-shadow: 5px 5px var(--red);
}
#button:active{
    box-shadow: 1px 1px var(--red);
    transform: translateY(4px) translateX(4px);
}